.tab-content {
  float: right;
  width: 80%;
  margin-right: 0%;
}
.nav-tabs  {
  position: center;
  width: 100px;
  height: auto;
  left: 2px;
  float: left;
  width: 100%;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.035em;
  width: 335px;
  
  left: -2px;
  top: 110px;
  
  background: rgba(255, 255, 255, 0.8);
 
  }
  .nav-item{
    padding: 8px 24px;
    
    transition: 0.4s;
    font-family: 'georgia';
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    border-left: 8px solid rgb(14, 60, 90);
  }
  
  .nav-item:hover {
    
    text-decoration: none;
    padding: 8px 0;
    
   
  }
  
  .nav-link.active {
    border: none;
  }
  a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: capitalize;
    color: #005596;
    text-decoration: none;
  }
  

  
a:disabled, a[disabled] {
    color: #005596;
  }
  
.anchorBorder{
  
    margin:0 20%;
  }
  
#hover:hover {
    font-weight: bold;
  }

.reqhead1{
  
    border: 2px solid rgb(255, 255, 255);
    background-color: #ECE7E7; 
    font-weight: bold;
    text-align: center;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;

color: #000000;
}

.reqhead2{
  
  border: 2px solid rgb(255, 255, 255);
  background-color: #ECE7E7; 
  font-weight: bold;
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.15em;

color: #000000;
}



/*Footer*/







/*Navigation*/




/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

select{
  margin: 0 5px;
}

select#Cater,
input.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
 
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

select#Cater1,
input.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
 
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}




/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */


#b12{
  float: right;
}




