.sticky {
    background-color: #005596;
    height:115px;
    
}

.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


img {
    height: 100px;

    margin-top: 20px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}

.contentContainerRight {
    width:1562px;
    height: 1055px;
    margin-left: 17.9%;
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 900px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #969090;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    margin:5% 6%;
    padding-left: 50px;
}


.breadcrumblink {

    margin: 10% 50px;
    padding: 10px;
    
   
   
    
    
}
ol {
    border-bottom: 3px solid #005596;
    width: 50px;
    
    
}