
<nav class="navbar navbar-expand-lg ">
    <!--Start of navigation section-->

      <div class="container-fluid sticky fixed-top " >
  
            <!--Start of logo -->
            <h1 class="navbar-brand" routerLink=""><img class ="logo" src="/assets/images/tutLogo.png"> </h1> 
            <img class="toggleMenu" src="/assets/images/icons8-menu.svg">
    
            <!--End of logo-->
      </div>
  
      <!--End of navigation section-->
</nav>



<body>
    <div class = "sideNav"> 
        <nav class="breadcrumbNav">
            <ul >
   
                <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a href="#">Tracking</a></li>
                <li class = "" id = "breadcrumbpadding"><a href="#">Feedback</a></li>
                
                
            </ul>
            
        </nav>
    </div>
    <div class = "contentContainerRight">
            <form class="backFrom">
                <h3 class = "toptitle">Staff Track Request</h3>
               
                <div class = "container">
                        <label for="zero" id="red" (click)="recieveAllRequest()">Todo</label>
                        <label for="fifty" id="amber" (click)="getInprogress()">InProgress</label>
                        <label for="zero" id="gray" (click)="getOnHoldTasks()">OnHold</label>
                        <label for="hundred" id="green" (click)="getCompleteTasks()">Done</label>
                </div>
                <table>
                    <tr class="middle" *ngFor = "let request of allRequest">
                        <td>{{request.progress}}</td>
                    </tr>
                </table>
            </form>
    </div>

    
    
</body>

