
body{

    background-color: white;
}

.sticky {
    width: 100%;
    background-color: #005596;
    height:115px;
    
}
.toggleMenu {
    cursor: pointer;
    display:none;
}

.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


.logo {
    height: 100px;

    margin-top: 10px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}
#hover:hover {
    font-weight: bold;
   
   
}
.contentContainerRight {
   
    height: 1055px;
    margin-left: 17.9%;
    
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 900px;

    /*Note that the background form is not visible behind, nut it is there*/
    


}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    margin:5% 6%;
    padding-left: 50px;
}
h4 {
    text-align: center;
    font-weight: 400;
    
}


.breadcrumbNav {

    
    margin: 12% 10px;
    padding: 20px 30px;
    
   
   
    
    
}
#breadcrumbpadding {

    
    padding: 6px 0;
}

 a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.035em;
    text-transform: capitalize;

    color: #005596;
    text-decoration: none;
 }

 nav,ul {

    list-style:none ;
 }
.breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 70px;  
    
}

.container {
    
    margin: 2% auto;
    width: 1050px;
    text-align: center;
   
}
.middleTable {

    border: 1px solid black ;
}
.middleTableDiv {
    
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 2px 6px black;
    border-radius: 10px;
    width: 850px;
    height: 500px;
    margin: auto 17.5%;
}
.middleTableDivTextMargin {
    margin: 1%;
}

.container .progress {
    margin: 0 auto;
    width: 800px;
}
.progress {
    padding: 4px;
    background:white;
    border:1px solid gray;
}

label {
    display: inline-block;
    margin: 0 60px 8px;
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-weight:500;
   

}

.todo{
    background-color: red;
    
}
.Assigned{

    background-color: #005596;
}
.InProgress{

    background-color: orange;
}
.OnHold{

    background-color: lightgrey;
}
.Done{

    background-color: green;
}


.todo:hover{
    color: red;
    background-color: white;

}
.Assigned:hover{
    color: #005596;
    background-color: white;

}
.InProgress:hover{
    color: orange;
    background-color: white;

}
.OnHold:hover{
    color: lightgrey;
    background-color: white;

}
.Done:hover{
    color: green;
    background-color: white;

}





@media only screen and (max-width: 1200px) {
    .sticky {
        width: 100%;
    }
    body {
        background-color: yellow;
    }
    .sideNav {
        width: 300px;

    }
    .contentContainerRight {
       
        margin-top:0%;
        margin-left: 10%;
        
    
    
    }
    form { 

        width: 900px;
    }
    .toptitle {
        border:1px solid red;
        width: 700px;
        margin:5% 17%;
        
        
    }
    label {
        display: inline-block;
        margin: 0 30px 0px;
        padding: 5px 15px;
       
    
    }
   

}
@media only screen and (max-width: 992px) {
    body {
        background-color:lightgray;
        width: 100%;
    }
    .logo {
        height: 90px;
        margin-top: 4px;
    }
    .sticky {
        width: 100%;
    }
    .sideNav {
        width: 200px;

    }
    .contentContainerRight {
        
        margin-top: 0%;
        margin-left: 10.9%;
    
    
    }
    form { 

        width: 600px;
    }
    .toptitle {
        width: 660px;
        margin:5% 8%;
        font-size: 20px;
        
        padding-left: 40px;
        
    }
    .container {
        margin: 20px auto;
        width: 700px;
        text-align: center;
       
    }
    label {
        display: inline-block;
        margin: 0 30px ;
        padding: 1px 10px;
       
    
    }

    @media only screen and (max-width: 768px) {

        body{
            background-color: rgb(235, 143, 89);
            width: 100%;
        }
        .sticky{
            width: 100%;
            border: 1px solid red;
        }
        .logo {
           height: 80px;
        }
        .sideNav {
            display: none;
    
        }
        .toggleMenu {

            display:block;
            width: 10%;
            
            
            
            
        }
        .contentContainerRight {
          
            margin-top: 0%;
            margin-left: -15%;
        
        
        }
        .container {

            margin: 20px 15%;
            width: 1000px;
            text-align: center;
           
        }
        label {
            display: inline-block;
            margin: 0 30px ;
            padding: 1px 0px;
           
        
        }
    }

    @media only screen and (max-width: 576px) {

        body{
            background-color: rgb(131, 247, 116);
            width: 100%;
        }
        .sideNav {
            display: none;
    
        }
        .contentContainerRight {
           
            margin-top: 0%;
            margin-left: -28%;
        
        
        }
        .toptitle {
            width: 520px;
            margin:5% 13%;
            font-size: 18px;
            
            padding-left: 40px;
            
        }
        .container {
            margin: 20px 15%;
            width: 500px;
            text-align: center;
           
        }


    }

}