
        <nav class="header">
            <div id="logoDiv">
                <a>
                    <img class="logo" src="../../../assets/images/tut.png" alt="SMART FARM"
                        style="float: left;height: 70px;width: 225px;" routerLink="read">
                </a>
            </div>
            <div id="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <ul>
                <li>

                    <a href="#" class="nav-link active" id="ModalExample" (click)="logout()"><button type="button"
                            class="btn btn-success">LOGOUT</button></a>
                </li>
            </ul>

        </nav>