<div class="sideNav">
    <nav class="breadcrumbNav">
        <ul>
            <li class="" id="breadcrumbpadding"><a class="" id="hover" href="#" routerLink="/dash2">Dashboard</a></li>
            <li class="" id="breadcrumbpadding"><a class="" id="hover" href="#" routerLink="/adminpage">View Logs</a></li>
            <li class="" id="breadcrumbpadding"><a class="" id="hover" href="#" routerLink="/adminprogress">View Progress</a></li>
            <li class="" id="breadcrumbpadding"><a class="" id="hover" href="#" routerLink="/admincloselog">Close Logs</a></li>
            <li class="" id="breadcrumbpaddingreport"><a class="" id="hover" href="#" routerLink="/generatereport">Generate Report</a></li>
        </ul>
    </nav>
</div>