
.sticky {
    background-color: #005596;
    height:115px;
    
}

.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


img {
    height: 100px;

    margin-top: 20px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}

.contentContainerRight {
    
    width:1562px;
    height: 1055px;
    margin-left: 17.9%;
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 830px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #969090;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}

.contentForm {
        
        margin-top: 7%;
}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    height: 40px;
    margin:5% 6%;
    padding-left: 50px;
}


.breadcrumbNav {

    
    margin: 12% 10px;
    padding: 20px 30px;
    
   
   
    
    
}
#breadcrumbpadding {

    
    padding: 10px 0;
}

 a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.035em;
    text-transform: capitalize;

    color: #005596;
    text-decoration: none;
 }

 nav,ul {

    list-style:none ;
 }
.breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 70px;
    padding-left: 0;
    
}


.color {
    color: black;
}
.feedbackTopPara {

    font-style: normal;
    font-weight: 490;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: 1px solid red;
    width: 1110px;
    margin: 0% 6%;
    padding: 1.5%;

}

.radionBtn {

    display: flex;
    flex-direction:row;
    margin: 1% 7.78%;
    border: 1px solid red;

}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 4px solid #000000;
    border-radius: 10px;

}
.form-check-label {

    padding-top: 2px;
}
.form-check {
    padding-left: 3.5%;
}

.descriptionTitle {

    border: 1px solid red;
    margin: 2% 35%;
}

textarea {
    padding: 10px;
    width: 60%;
    margin-left: 20%;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;

    border: 2px solid #000000;
    border-radius: 10px;
    
}

.descriptionTextarea {
    border: 1px solid blue;
}
button {

    width: 100px;
    height: 45px;
    background: #005596;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin: 2% 45%;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
   
}

