<div class = "responsiveDiv">
    <nav class="navbar navbar-expand-lg ">
        <!--Start of navigation section-->
    
          <div class="container-fluid sticky fixed-top " >
      
                <!--Start of logo -->
                <h1 class="navbar-brand" routerLink=""><img class ="logo" src="/assets/images/tutLogo.png"> </h1>
                <img class="toggleMenu" src="/assets/images/icons8-menu.svg" width="80">
                <!--End of logo-->
          </div>
      
          <!--End of navigation section-->
    </nav>
    
    
    
    <body>
        <div class = "sideNav"> 
            
            <nav class="breadcrumbNav">
                <ul >
                    <li class = "" id = "breadcrumbpadding"><a class="anchorBorder" href = "#" id="hover">Request</a></li>
                    <li class = "" id = "breadcrumbpadding"><a class="anchorBorder" href="#" id="hover">Tracking</a></li>
                    <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a class="anchorBorderActive" href="#" id="hover">Feedback</a></li>
    
                    
                </ul>
                
            </nav>
            
        </div>
        <div class = "contentContainerRight">
                <form class="backFrom">
                    <div class = "contentForm">
    
                        <h3 class = "toptitle">Staff Feedback</h3>


                        <div *ngIf="message !=''"   class="alert alert-success alert-dismissible fade show" role="alert">
                             <strong>{{message}}</strong>
                           
                        </div>

                        <div class = "feedbackTopPara">
                            <p class="">Thank you for taking your your time and give us feedback on the job we did for you.
                                We promise to read your comments carefully. Hopefully we managed to solve your issues.</p>
                        </div>
                            
                                <div class="radionBtn">
                                
                                    <div>
                                        <h5>Completed:</h5>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        
                                        <input class="form-check-input" type="radio" name="option" id="inlineRadio1"  value="No" [(ngModel)]="option" >
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="option" id="inlineRadio2"  value="Yes" [(ngModel)]="option" >
                                        <label class="form-check-label" for="inlineRadio2">Yes</label>
                                    </div>
        
                                </div>
                        
                                <div class="descriptionTextarea">
                                    
                                    <h3 class="descriptionTitle" >Give your description below</h3>
                                    <textarea  id = "description" rows="8" [(ngModel)]="description" name = "description" placeholder="Enter the description of the feedback">
                                        
                                    </textarea>
                                    <button type="submit" value = "submit" (click)="submitResults()">Send</button>
                                </div>
        
                            <div *ngFor = "let data of array ">
                                <p>{{data}}</p>
    
                            </div>
                            
                        
                    </div>
                </form>
        </div>
        
    </body>

</div>




