<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>HOD VIEW </title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<div class="container-fluid">
    <!-- <body class="container"> -->
<div class="log d-flex justify-content-end">
    <NAv>
        <div id="logo-text">
            <a href="#">
                <img src="../../../assets/images/tut.png" alt="SMART FARM"
                    style="float: left;height: 72px;width: 225px;">
            </a>
        </div>
        <div id="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            
            </ul>
    </NAv>
</div>


<br>
<br>
<br>
<br>


<div class="container2 d-flex justify-content-between ">
    <ul class="nav nav-tabs flex-column justify-content-center" id="myTab" role="tablist">


        <li class="nav-item" role="presentation" id="doing-tab1">
            <button class="nav-link active colorRed" id="doing-tab" data-bs-toggle="tab" data-bs-target="#doing"
                type="button" role="tab" aria-controls="doing" aria-selected="true">
                <br><a>View Requests</a></button>
        </li>
        <li class="nav-item" role="presentation" id="doing-tab2">
            <button class="nav-link colorAmber" id="in-progress-tab" data-bs-toggle="tab" data-bs-target="#in-progress"
                type="button" role="tab" aria-controls="in-progress" aria-selected="false"><br><a>View Progress</a></button>

        </li>
    </ul>
<br>
<br>
<br>
<br>
    <h2 class =" H"> HOD View Request</h2>
   <br>
   <br>

<html>
<head>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https:/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<table class="table">
  <thead>
    <tr>  
      <th scope="col">Staff name</th>
      <th scope="col">Description</th>
      <th scope="col">Venue</th>
      <th scope="col">Category</th>
      <th scope="col">Request date</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let me of readData" >
      <th scope=*ngFor ="let me of readData">{{me.staff_name}} {{me.staff_surname}}</th>
      <td>Description :{{me.description}}</td>
      <td>{{me.venue}}</td>
      <td>{{me.category}}</td>
      <td>{{me.req_date}}</td>
      <td>{{me.priority}}</td>
      
    </tr>
    <tr>
      <th >Lee Mahlangu</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

    <div class="tab-content ps-3 mt-4" id="myTabContent"></div>
     

            <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
            </footer>


