<app-admin-header></app-admin-header>

<div class="main_content">
    <div class="body" style="display: flex;">
        <header>
            <app-admin-sidenav></app-admin-sidenav>
        </header>
        <div class="tab-content m-2 " id="myTabContent">
            <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Admin View Progress
            </h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Log Ref</th>
                        <th scope="col">Log Description</th>
                        <th scope="col">Staff-Feedback</th>
                        <!-- <th scope="col">Artisan Status</th> -->
                        <th scope="col">Close</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of readData">
                        <td>{{data.id}}</td>
                        <td>{{data.description}}</td>
                        <td>{{data.staff_feedback}}</td>
                        <!-- <td class="status">{{data.status}}</td> -->
                        <td><button type="button" class="logbtn " (click)="log($event,data.id)">Log</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
</footer>