<div class="">
    <!-- <body class="container"> -->
        <div class="log d-flex justify-content-end">
            <nav class="header">
                <div id="logoDiv">
                    <a>
                     
                        <img class="logo" src="../../../assets/images/tut.png" alt="SMART FARM"
                            style="float: left;height: 70px;width: 225px;" routerLink="read">
                    </a>
                </div>
                <div id="menu-icon">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li>
        
                        <a href="#" class="nav-link active" id="ModalExample" (click)="logout()"><button type="button"
                                class="btn btn-success">LOGOUT</button></a>
                    </li>
                </ul>
        
            </nav>
        </div>
</div>
<body>

    <div class="container2 d-flex justify-content-between ">
        <div class="sideNav">
            <nav class="breadcrumbNav">
                <ul>
                    <li class = "" id = "breadcrumbpadding"><a class ="" id="hover" href="#" routerLink="/adminpage"  >View Requests</a></li>
                    <li class="breadcrumb-item active" id="breadcrumbpadding"><a class="" disabled>Close Requests</a></li>
                    
                        
                </ul>
            </nav>
        </div>

        <div class="tab-content " id="myTabContent">

              
                <div class = "contentForm" >
                   
                    <div class="departmenCategoryText">
                        <div class="StaffDetails" *ngIf="staff">
                            <h3 class=""><small><b>Campus:</b> {{staff.campus}}</small></h3>
                            <div class="">
                                <h3 class="" ><small><b>Staff Name:</b> {{staff.admin_name}} {{staff.admin_surname}}</small></h3>
                            </div>
                            
                        </div>
                  
                    </div>
                    
                    <div class="content card ">

                
                        <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Admin Close Requests</h1>
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Requests Reference</th>
                                <th scope="col">Staff Name</th>
                                <th scope="col">Staff-Feedback</th>
                                <th scope="col">Artisan Progress</th>
                                <th scope="col">Close</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of tasksToClose">
                                <td>{{data.id}}</td>
                                <td>{{data.description}}</td>
                                <td class="status">{{data.staff_feedback}}</td>
                                <td class="status">{{data.progress}}</td>
                                <td><button type="button" class="logbtn " (click)="log($event,data.id)" [(ngModel)]="data.status" *ngIf="data.staff_feedback.length != 0 &&  data.progress == 'complete' ">Log</button> </td>
                              </tr>
                            </tbody>
                          </table>
                        
                    </div>
    
        
                   
                </div>
         
           
           



        </div>

    </div>
    <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
    </footer> 
</body>

    
    
    
    
    
  
    
    