.sticky {
    background-color: #005596;
    height:115px;
    
}

.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


img {
    height: 100px;

    margin-top: 20px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}
.breadcrumbNav {

    
    margin: 12% 10px;
    padding: 20px 30px;
    
   
   
    
    
}
#breadcrumbpadding {

    
    padding: 10px 0;
}

 a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.001em;
    text-transform: capitalize;

    color: #005596;
    text-decoration: none;
 }

 nav,ul {

    list-style:none ;
 }
.breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 95px;
    padding-left: 0;
    
}


.contentContainerRight {
    
    width:1562px;
    height: 1055px;
    margin-left: 17.9%;
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 830px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #969090;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}

.contentForm {
        
        margin-top: 7%;
}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    height: 40px;
    margin:2% 6%;
    padding-left: 50px;
}

.myTable {

    
    padding: 5% 20%;
    
}
table {
    margin-top: 1%;
    border: 1px solid black;
    width: 750px;
    height: 300px;
}

.rowPadding {
    padding: 13% 10px;
}

.requestimgSize {

    width: 50px;
    height:50px ;
}
.rowPaddingImage {
    padding: 8% 10px;
}
.rowPaddingDropDown {
    padding: 13% 50px;
}

button {
    background-color:#005596;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    width: 150px;
    height: 50px;

    margin: 0 45%;
}