
<nav class="navbar navbar-expand-lg ">
    <!--Start of navigation section-->

      <div class="container-fluid sticky fixed-top " >
  
            <!--Start of logo -->
            <h1 class="navbar-brand" routerLink=""><img class ="logo" src="/assets/images/tutLogo.png"> </h1> 
            <img class="toggleMenu" src="/assets/images/icons8-menu.svg" width="80">
    
            <!--End of logo-->
      </div>
  
      <!--End of navigation section-->
</nav>



<body>
    <div class = "sideNav"> 
        
        <nav class="breadcrumbNav">
            <ul >
                
                <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a href="#" id="hover">View Request</a></li>
                <li class = "" id = "breadcrumbpadding"><a id="hover" href="#" >View Progress</a></li>

                
            </ul>
            
        </nav>
        
    </div>
    <div class = "contentContainerRight">
            <form class="backFrom">
                <div class = "contentForm">

                    <h3 class = "toptitle">Admin View Request</h3>

                    <div id = "card">
                        <div class="card ">
                            <div class="card-body">
                                <div class="card-titles">
                                    <h6 class="card-title">Ref:f14m56tg</h6>
                                    <h6 class="card-title" id = "date">RequestDate: 21/03/22</h6>
                                </div>
                              
                                <div class="imgStaffInfo">
                                    <p class="category">Category: Plumbing</p>
                                    <div class="selectPriority">
                                        <label for="cars">Choose a car:</label>
                                        <select name="cars" id="cars">
                                          <option value="volvo">Volvo</option>
                                          <option value="saab">Saab</option>
                                          <option value="opel">Opel</option>
                                          <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                    <p class="card-text">Palesa Mahlangu<br>description: leaking Taps<br>10-G42</p>
                                    <button class = "btn1" routerLink="/availabletechs">ViewArtisan</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div id = "card2">
                        <div class="card ">
                            <div class="card-body">
                                <div class="card-titles">
                                    <h6 class="card-title">Ref:f14m56tg</h6>
                                    <h6 class="card-title" id = "date">RequestDate: 20/03/22</h6>
                                </div>
                              
                                <div class="imgStaffInfo">
                                    <p class="category">Category: Electrical</p>
                                    <div class="selectPriority">
                                        <label for="priority">Select Priority</label>
                                        <select name="priority" id="priority" >
                                          <option value="low">Volvo</option>
                                          <option value="Medium">Opel</option>
                                          <option value="audi">Audi</option>
                                        </select>
                                    </div>
                                    <p class="card-text">thabelo livhimbi<br>Description: Flickering lights<br>10-G28</p>
                                    <button class = "btn1" routerLink="/availabletechs">ViewArtisan</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
            </form>
    </div>
    
</body>



