<app-admin-header></app-admin-header>

<div class="main_content">
    <div class="body" style="display: flex;">
        <header>
            <app-admin-sidenav></app-admin-sidenav>
        </header>
        <div class="tab-content m-2 " id="myTabContent">

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !=''">
                <strong>{{message}}</strong>
            </div>
            <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Admin
                View
                Request</h1>
            <table id="customers">
                <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Staff Number</th>
                        <th>Description</th>
                        <th>venue</th>
                        <th>Requested Date</th>
                        <th>Expected Date</th>
                        <th>View Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let me of readData" class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
                        data-aos="fade-right" data-aos-delay="100">
                        <td>{{me.id}}</td>
                        <td>{{me.staff_id}}</td>
                        <td>{{me.description}}</td>
                        <td>{{me.venue}}</td>
                        <td>{{me.req_date}}</td>
                        <td>
                            <select id="Cater" (change)="setDay($event)">
                                <option value="">Day</option>
                                <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                            </select>
                            <select id="Cater" (change)="setMonth($event)">
                                <option value="">Month</option>
                                <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
                            </select>
                            <select id="Cater" (change)="setYear($event)">
                                <option value="">Year</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>

                            </select>
                        </td>
                        <td><button type="button" class="btnAvailableTech" (click)=viewAvailableTech(me)>
                                <p>Artisan</p>
                            </button></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>
<footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
</footer>