
    
    <div class="container-fluid">

      <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4 mt-4">
      <button id="b12" type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>

      <div class="row ">
          <div class="col-md-3">
           
          </div>
          <div class="col-md-6 ">
              
  
              <form method="POST" class="mt-4" enctype="multipart/form-data">
              
                <h1 class="text-success text-center">Welcome to technical service</h1>
                <br>
                  <h3 class="text-primary text-center mb-3"> HOD Login</h3>
  
                 
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput"  [(ngModel)]="HODlogin.hod_id" name="HODlogin.hod_id" placeholder="HOD Number">
                      <label for="floatingInput">HOD Number</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword"  [(ngModel)]="HODlogin.password" name="HODlogin.password" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
  
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mt-4">
                      <button type="button" (click)="HOD_login()" class="btn btn-outline-success">Login</button>
  
                    </div>
  
                    
              </form>
          </div>
          <div class="col-md-3">
              
          </div>
      </div>
    </div>
 




