
      <div class="container-fluid">

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4 mt-4">
        <button id="b12" type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
        </div>

        <div class="row ">
            <div class="col-md-3">
             
            </div>
            <div class="col-md-6 ">
                
    
                <form method="POST" class="mt-4" enctype="multipart/form-data">
                
                  <h1 class="text-success text-center">Welcome to technical service</h1>
                  <br>
                    <h3 class="text-primary text-center mb-3"> Admin Login</h3>
    
                   
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="adminLogin.admin_id" name="adminLogin.admin_id" placeholder="Email address">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="adminLogin.password" name="adminLogin.password" placeholder="password">
                        <label for="floatingPassword">Password</label>
                      </div>
    
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mt-4">
                        <button type="button" (click)="admin_login()" class="btn btn-outline-success">Login</button>
    
                      </div>
    
                      
                </form>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
      </div>
   



