
<div class="log d-flex justify-content-end">
    <nav class="navbarSteve">
        <div id="logo-text">
            <a href="#">
                <img src="assets/images/tutLogo.png" alt="SMART FARM"
                    style="float: left;height: 72px;width: 225px;" routerLink="read" class="image">
            </a>
        </div>
        <div id="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li>

                <a href="#" class="nav-link active" id="ModalExample" (click)="logout()"><button type="button"
                        class="btn btn-success">LOGOUT</button></a>
            </li>
        </ul>

    </nav>
</div>





<!--Start of the navigation tab body-->

<body class="relative">
    <div class="box">
       
        <img class = "leftSidePolygon" src="assets/images/DashboardSvg.svg">
        <img class = "imgLeftSidePolygon" src="assets/images/Dashboard2Svg.svg" >
    </div>
    
    <form action="">

        <form class="form2 ">

            <p class="backcolor">Track Your Request</p>
            <div class="">

                <ul class="nav nav-tabs justify-content-center   " style="border-bottom:0px" id="myTab" role="tablist">
                    <li class="nav-item  " role="presentation" id="doing-tab1">
                        <button class="nav-link active  colorRed" id="doing-tab" data-bs-toggle="tab"
                            data-bs-target="#doing" type="button" role="tab" aria-controls="doing"
                            aria-selected="true"><img class="red" src="assets/images/todolist.png"><br>To-do</button>
                    </li>
                    <li class="nav-item  " role="presentation" id="doing-tab2">
                        <button class="nav-link colorAmber " id="in-progress-tab" data-bs-toggle="tab"
                            data-bs-target="#in-progress" type="button" role="tab" aria-controls="in-progress"
                            aria-selected="false"><img class="amber"
                                src="assets/images/inProgress.png"><br>Preceeding</button>
                    </li>
                    <li class="nav-item  " role="presentation" id="doing-tab3">
                        <button class="nav-link colorGreen" id="done-tab" data-bs-toggle="tab" data-bs-target="#done"
                            type="button" role="tab" aria-controls="done" aria-selected="false"><img class="green"
                                src="assets/images/LikeHand.png"><br>Done</button>
                    </li>
                </ul>
                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane fade show active " id="doing" role="tabpanel" aria-labelledby="doing-tab">
                        <h4>We have received your request .</h4>
                        <br>
                        <p id="tabContentPar">Navigation available in Bootstrap share general markup and styles, from
                            the base .nav class to the active and disabled states. Swap modifier classes to switch
                            between each style.

                            The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.



                            The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab">
                        <h4>We are currently working on your case</h4>
                        <br>
                        <p id="tabContentPar">Navigation available in Bootstrap share general markup and styles, from
                            the base .nav class to the active and disabled states. Swap modifier classes to switch
                            between each style.

                            The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="done" role="tabpanel" aria-labelledby="done-tab">
                        <h4>Finally, Problem is fixed</h4>
                        <br>
                        <p id="tabContentPar">Navigation available in Bootstrap share general markup and styles, from
                            the base .nav class to the active and disabled states. Swap modifier classes to switch
                            between each style.

                            The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.     The base .nav component is built with flexbox and provide a strong foundation for building
                            all types of navigation components. It includes some style overrides (for working with
                            lists), some link padding for larger hit areas, and basic disabled styling.
                        </p>
                    </div>


                    
                </div>



            </div>
            <!--Start of the navigation tab-->

            <!--End of the navigation tab-->
        </form>
    </form>

    

</body>


<!--End of the navigation tab body-->

<footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
</footer>