
<div class="">
    <!-- <body class="container"> -->
        <div class="log d-flex justify-content-end">
            <nav class="header">
                <div id="logoDiv">
                    <a>
                        <img class="logo" src="../../../assets/images/tut.png" alt="SMART FARM"
                            style="float: left;" routerLink="read">
                    </a>
                </div>
                <div id="menu-icon">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li>
        
                        <a href="#" class="nav-link active" id="ModalExamplelogout" (click)="logout()"><button type="button"
                                class="btn btn-success">LOGOUT</button></a>
                    </li>
                </ul>
                <ul class="code">
                    <li>
        
                        <a href="#" class="nav-link active" id="ModalExample" (click)="logout()"><img class="toggle" src="../../../assets/images/btn.png" alt="SMART FARM"
                            routerLink="read"></a>
                    </li>
                </ul>
        
            </nav>
        </div>
</div>
<body>

    <div class="container2 d-flex justify-content-between ">
        <div class="sideNav">
            <nav class="breadcrumbNav">
                <ul>
                    <li class="breadcrumb-item active" id="breadcrumbpadding"><a class="" disabled>Scan QR-Code</a></li>
                    <li class = "" id = "breadcrumbpadding"><a class ="" id="hover" href="#"   routerLink="/sendrequest">Send Request</a></li>  
                </ul>
            </nav>
        </div>
        <div class="tab-content "  id="myTabContent">
            <div class="tab-pane fade show active" id="formContent" role="tabpanel" aria-labelledby="doing-tab">
                <div class="StaffDetails" *ngIf="staff">
                    <h3 class=""><small><b>Campus:</b> {{staff.campus}}</small></h3>
                    <h3 class=""><small><b>Faculty:</b> {{staff.faculty}}</small></h3>
                    <div class="displayFlex">
                        <h3 class=""><small><b>Department:</b> {{staff.department}}</small></h3>
                        <h3 class="left" ><small><b>Staff Name:</b> {{staff.staff_name}} {{staff.staff_surname}}</small></h3>
                    </div>
                    
                </div>
    
                <div class="table">
                    <div class="reqhead1">QR Code</div>

                    <div class="banner">
                        <img class="QR-Codeimg" src="../../../assets/images/qr-code.png" alt="qr-code">
                    </div>
    
    
                    
    
    
                </div>
            </div>
        </div>

    </div>
    <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
    </footer> 
</body>

