<div style="text-align: center">
  <button class="req "type="click">Request</button>
  <button class="track "type="click">Tracking</button>
  <button class="feed" type="click">Feedback</button>

  <form>
    <div>
    <label>Staff No</label>
    <input class="staff" type="text" name="staffno">
    </div>
    <label>Email</label>
    <input type="text" name="email">
    <div>
      <label>Category</label>
    <select id="category" name="category" placeholder="Choose Category">
      <option value="soft">Software</option>
      <option id="hard">Hardware</option>
      </select>
      </div>
    <div>
      <label>Description</label>
    <input type="text" name="email">
      </div>
      <div>
        <label>Importance</label>
      <select id="category" name="category" placeholder="Choose Category">
        <option value="soft">Low</option>
        <option id="hard">Medium</option>
        <option id="hard">High</option>
        </select>
        </div>
      <label>Venue</label>
    <input type="text" name="email">
    <div>
      <label>Date</label>
    <input type="text" name="email">
      </div>
     <button type="click">Send</button> 
 </form>
