
<nav class="navbar navbar-expand-lg ">
    <!--Start of navigation section-->

      <div class="container-fluid sticky fixed-top " >
  
            <!--Start of logo -->
            <h1 class="navbar-brand" routerLink=""><img class ="logo" src="/assets/images/tutLogo.png"> </h1>
            <img class="toggleMenu" src="/assets/images/icons8-menu.svg" width="80">
    
            <!--End of logo-->
      </div>
  
      <!--End of navigation section-->
</nav>



<body>
    <div class = "sideNav"> 
        
        <nav class="breadcrumbNav">
            <ul >
                
                <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a id="hover" href="#">View Request</a></li>
               


                
            </ul>
            
        </nav>
        
    </div>
    <div class = "contentContainerRight">
            <form class="backFrom">
                <div class = "contentForm">

                    <h3 class = "toptitle">Admin View Requests</h3>

                    

                        <div id = "card" *ngFor="let all of alldata">
                            <div class="card " >
                                <div class="card-body" >
                                    <div class="card-titles" >
                                        <h6 class="card-title">Ref:{{all.id}}</h6>
                                        <h6 class="card-title" id = "date">RequestDate:{{all.req_date
                                        }}</h6>
                                    </div>
                                  
                                    <div class="imgStaffInfo">
                                        <img src="/assets/images/icon _profile.png" >
                                        <p class="card-text">{{all.staff_name
                                        }}<br>{{all.staff_name}}@gmail.com</p>
                                        <button class = "btn1">View</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div id = "card2">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="card-titles">
                                        <h6 class="card-title">Ref:f14m56tg</h6>
                                        <h6 class="card-title" id = "date">RequestDate</h6>
                                    </div>
                                  
                                    <div class="imgStaffInfo">
                                        <img src="/assets/images/icon _profile.png" >
                                        <p class="card-text">thabelo livhimbi<br>LivhimbiT@gmail.com</p>
                                        <button class = "btn1" routerLink="/adminsinglerequest">View</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                        
                    
                </div>
            </form>
        </div>
</body>

