
<app-navbar></app-navbar>




<!-- <body class="container"> -->
   

<body>
   
  <div id="banner">
    <h1>Technical Services</h1>
    <!-- <h3>We Can Help You Fix All Of Your Technical Problems</h3> -->
</div> 

<section id="about" class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="about-text">
        <h1>About<span>Us</span></h1>
        <br>
        <p>IT forms part of corporations across the globe. It plays an integral role in companies, and a lot of businesses rely on IT services. 
          Employees regularly encounter technical difficulties - hardware or software failures that make it impossible for employees to complete their tasks.
          These difficulties slow down productivity and need to be resolved as soon as possible.</p>
    
        <p>Companies have put in place technical support - helpdesk, which aims to resolve technical problems encountered by employees.
          Regardless of such, they are ineffective. The Technical Services System aims to improve/help employees in an organization solve
          technical difficulties effectively, thus improving productivity in organizations.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-img">
        <img src="../../../assets/images/footer.png" alt="Footer Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
</body>
    
    
   
    
    
