
body {
  padding-top: 56px; /* Add padding to the top of the body to accommodate the fixed navbar */
}

#banner {
 
  text-align: center;
  height: 100vh;
  padding: 80px 0; /* Adjusted padding for better spacing */
}
h1 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: 4rem;
  font-family: 'Sansation Bold', italic;
}
section {
  background: #D9D9D9;
  width: 100%;
}
#about {
  padding: 40px 0;
  background: #D9D9D9;
  width: 100%;
}
#about span {
  color: #0f83d1;
  margin-left: .7rem;
}
#about h1 {
  margin-top: 6rem;
}
#about p {
  font-size: 1.2em;
}

#about-text {
  margin-bottom: 20px; /* Add margin to separate text from the image */
}

.about-img img {
  max-width: 100%; /* Make sure images don't exceed their container width */
  height: auto;
}
