
<nav class="navbar navbar-expand-lg ">
    <!--Start of navigation section-->

      <div class="container-fluid sticky fixed-top " >
  
            <!--Start of logo -->
            <h1 class="navbar-brand" routerLink=""><img src="/assets/images/tutLogo.png"> </h1> <P class = "center">TECHNICIAN VIEW PAGE</P>
    
            <!--End of logo-->
      </div>
  
      <!--End of navigation section-->
</nav>



<body>
    <div class = "sideNav"> 
        
        <nav class="breadcrumbNav">
            <ul >
                
                <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a href="#">ViewTask</a></li>

                
            </ul>
            
        </nav>
        
    </div>
    <div class = "contentContainerRight">
            <form class="backFrom">
                <div class = "contentForm">

                    <h3 class = "toptitle">Technician View Task</h3>

                <div class = "myTable">
                    <table class="table table-bordered">
                        <thead>
                          <tr *ngFor = "let data of fetchedTechTaskData ">
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Image</th>
                            <th scope="col">Progress Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="rowPadding">King Malatji</td>
                            <td class="rowPadding">HardWare</td>
                            <td class="rowPadding">Monitor is broken</td>
                            <td class="rowPadding">10-G42</td>
                            <td class="rowPaddingImage"><img class="requestimgSize" src = "/assets/images/backArrow.png"></td>
                            <td class="rowPaddingDropDown">
                                <select name="progressStatus" id="progressStatus">
                                  <option value="todo">Todo</option>
                                  <option value="inProgress">inProgress</option>
                                  <option value="done">Done</option>
                                </select></td>
                          </tr>
                        </tbody>
                      </table>

                </div>
                    

                </div>
            </form>
    </div>
    
</body>



