.sticky {
    background-color: #005596;
    height:115px;
    
}

.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


img {
    height: 100px;

    margin-top: 20px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}
.breadcrumbNav {

    
    margin: 12% 10px;
    padding: 20px 30px;
    
   
   
    
    
}
#breadcrumbpadding {

    
    padding: 10px 0;
}

 a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.035em;
    text-transform: capitalize;

    color: #005596;
    text-decoration: none;
 }

 nav,ul {

    list-style:none ;
 }
.breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 70px;
    padding-left: 0;
    
}


.contentContainerRight {
    
    width:1562px;
    height: 1055px;
    margin-left: 17.9%;
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 830px;
   


}

.contentForm {
        
        margin-top: 7%;
}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    height: 40px;
    margin:5% 6%;
    padding-left: 50px;
}

.myTable {

    
    padding: 5% 20%;
    
}
table {
    margin-top: 2%;
    border: 1px solid black;
    width: 790px;
    height: 300px;
}

.rowPadding {
    padding: 13% 10px;
}

.requestimgSize {

    width: 50px;
    height:50px ;
}
.rowPaddingImage {
    padding: 8% 10px;
}
.rowPaddingDropDown {
    padding: 13% 50px;
}
select {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.045em;

    border: 3px solid #000000;
    border-radius: 10px;

    width: 150px;
    height: 42px;
}


@media only screen and (max-width: 1200px) {
    .sticky {
        width: 100%;
    }
    body {
        background-color: yellow;
    }
    .sideNav {
        width: 300px;

    }
    .contentContainerRight {
        margin-top: 0%;
        
    
    
    }
    form { 

        width: 900px;
    }
    .toptitle {
        width: 750px;
        margin:5% 5%;
        
    }

@media only screen and (max-width: 992px) {
        body {
            background-color:lightgray;
            width: 100%;
        }
        .logo {
            height: 90px;
            margin-top: 4px;
        }
        .sticky {
            width: 100%;
        }
        .sideNav {
            width: 200px;
    
        }
        .contentContainerRight {
            margin-top: 0%;
            margin-left: 10.9%;
        
        
        }
        form { 
    
            width: 600px;
        }
        .toptitle {
            width: 660px;
            margin:5% 8%;
            font-size: 20px;
            
            padding-left: 40px;
            
        }

    }
}


@media only screen and (max-width: 768px) {

    body{
        background-color: rgb(235, 143, 89);
        width: 100%;
    }
    .sticky{
        border: 1px solid red;
    }
    .logo {
       height: 80px;
    }
    .sideNav {
        display: none;

    }
    .toggleMenu {

        display:block;
        width: 10%;
        
        
        
        
    }
    .contentContainerRight {
        margin-top: 0%;
        margin-left: -15%;
    
    
    }

}

@media only screen and (max-width: 576px) {

    body{
        background-color: rgb(131, 247, 116);
        width: 100%;
    }
    .sideNav {
        display: none;

    }
    .contentContainerRight {
        margin-top: 0%;
        margin-left: -35%;
    
    
    }
    .toptitle {
        width: 560px;
        margin:5% 13%;
        font-size: 18px;
        
        padding-left: 40px;
        
    }

}