.sticky {
    background-color: black;
    height:115px;
    
}
.toggleMenu {
    cursor: pointer;
    display:none;
}
.center 
{
    margin-right: 35%;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

a {
    color: white;
    font-weight: bold;
}


#left {

    padding-left:75%;
}


img {
    height: 100px;

    margin-top: 20px;
}
body {

    margin-top: 100px;
    border: 1px solid blue;
    height: 1055px;
    background-color: #ffffff;
}


 .sideNav {

    
    float: left;
    box-shadow: 5px 0 2px #969090;
    width: 335px;
    height: 1055px;
   

}
.breadcrumbNav {

    
    margin: 12% 10px;
    padding: 20px 30px;
    
   
   
    
    
}
#breadcrumbpadding {

    
    padding: 10px 0;
}

 a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.001em;
    text-transform: capitalize;

    color: #005596;
    text-decoration: none;
 }

 nav,ul {

    list-style:none ;
 }
.breadcrumb-item.active {
   
    
    border-bottom: 3px solid #005596;
    width: 115px;
    padding-left: 0;
    
}
.anchorBorder{

    
    margin:0 20%;
}

#hover:hover {
    font-weight: bold;
   
   
}
.contentContainerRight {
    
    width:1562px;
    height: 1055px;
    margin-left: 17.9%;
    border: 1px solid green;
   padding-left: 50px;


}
form {
    
    width: 1300px;
    margin: 5% 5%;
    height: 830px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #969090;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    


}

.contentForm {
    overflow-y: scroll;
    height: 700px;
        margin-top: 7%;
}
.toptitle {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.15em;
    background: #ECE7E7;
    width: 1110px;
    height: 40px;
    margin:2.5% 6%;
    padding-left: 50px;
}
.departmenCategoryText{
    border: 1px solid red;
    padding-left: 15%;
}
#card1 {
    border: 1px solid green;
    
   
}
.card {
    margin:1% 18% ;
    
    width: 60%;
    height: auto;
    border: 4px solid #969090; ;
}

.card-body {

        margin: -10px -5px;
        
   
}

.card-titles {
    display: flex;
    
  
}
#date {

    padding-left: 74.5%;
}
.imgStaffInfo {

    border: 1px solid red;
    display:flex;
    flex-direction: row;
    padding: 0 25%;
    height: 130px;
    
}
.card-text {
    border: 1px solid red;
    padding: 12% 2%;
    margin-left: 1%;

}
.image {
  
    height: 60px;
    width: 60px;

   
    position: absolute;
    bottom: 25%;
    left: 80%;
  
}

.assignTechText{
    background: white;
    border: 1px solid red;
    width: 150px;
    margin: 60% 50%;
    font-size: 14px;
    font-weight: 600;

}


.assignButton {

    font-size: small;
    border-radius: 10px;
    padding: 3px;
    
}


@media only screen and (max-width: 1200px) {


    /*

    
    */
    .sticky {
        width: 100%;
    }
    body {
        
        background-color: yellow;
        width: 100%;
    }
    .sideNav {
        width: 280px;

    }
    .contentContainerRight {
       
        width: 900px;
        margin-top:0%;
        margin-left: 14%;
        
    
    
    }
    form { 

        width: 1200px;
        background: #da3737;
        
    }
    .toptitle {
        /*border:1px solid BLUE;*/
        
        width: 800px;
        margin:5% 8%;
        
        
    }
 
    .backFrom {
        
        background: black;
        width: 900px;
       
      
    
    
    }

    .Cards {
        border:1px solid red;
        width: 850px;
        
    }
    .card {
        margin:1% 10% ;
        width: 750px;

    }
    .assignTechText{
        
        margin: 60% 40%;
       
    
    }
    button{
        margin: 2% 41%;
    }

}



@media only screen and (max-width: 992px) {
    body {
       
       background-color:lightgray;
       
        width: 100%;
    }
    .logo {
        height: 90px;
       
        margin-top: -2%;
    }
    .sticky {
        width: 100%;
    }
    .sideNav {
        width: 200px;

    }
    .breadcrumbNav {

    
        margin: 12% 1%;
       
        
       
       
        
        
    }
    .contentContainerRight {
        width: 800px;
        
        margin-top: 0%;
        margin-left: 12%;
    
    
    }
    .backFrom {
        
        background: black;
        width: 760px;
       
      
    
    
    }
   
    .toptitle {

        /*
                 font-weight: 700;
        font-size: 28px;
        border:1px solid BLUE;
        */
       
        width: 700px;
        margin:5% 5%;
        
        
    }
    #date {

        padding-left: 60.5%;
    }
    .Cards {
        border:1px solid red;
        width: 760px;
        
    }
    .card {
        margin:1% 5% ;
        width: 700px;

    }
    .assignTechText{
        
        margin: 60% 20%;
       
    
    }
    button{
        margin: 2% 40%;
    }

}


@media only screen and (max-width: 768px) {
    body {
       
         background-color: rgb(235, 143, 89);
        width: 100%;
    }
    
    .sticky{
        width: 100%;
        /* border: 1px solid red;*/
       
    }
    .logo {
       height: 80px;
       margin: -2%;
    }
    .sideNav {
        display: none;

    }
    .toggleMenu {

        display:block;
        width: 100px;
          
        
    }
    .contentContainerRight {
      
        margin-top: 0%;
        margin-left: -11%;
    
    
    }
  
    form { 

        width: 600px;
    }
    .backFrom {
        
        background: black;
        width: 720px;
       
      
    
    
    }
    .Cards {
        border:1px solid red;
        width: 720px;
        
    }
    .card {
        margin:1% 5% ;
        width: 680px;

    }
   
    .toptitle {

        /*
             font-weight: 700;
        font-size: 28px;
        border:1px solid BLUE;
        
        */
       
        width: 680px;
        margin:5% 5%;
        
        
    }
    
    .assignTechText{
        
        margin: 60% 15%;
       
    
    }
    button{
        margin: 2% 40%;
    }

}


@media only screen and (max-width: 576px) {

    body{
        background-color: rgb(131, 247, 116);
        
        width: 100%;
    }
    .sideNav {
        display: none;

    }
    .contentContainerRight {
        width: 670px;
       
        margin-top: 0%;
        margin-left: -22%;
    
    
    }
    .backFrom {
    
        width: 580px;
       
      
    
    
    }
    form { 

        width: 580px;
    }
   
    .toptitle {
        width: 510px;
        margin:5% 11%;
        font-size: 18px;
        
        padding-left: 40px;
        
    }
    #date {

        padding-left: 42%;
    }
    .Cards {
        border:1px solid red;
        width: 580px;
        
    }
    .card {
        margin:1% 7% ;
        width: 540px;

    }
    .imgStaffInfo {

        
        padding: 0 12%;
        
        
    }
    .assignTechText{
        width: 120px;
        font-weight:600 ;
        font-size: 12px;
        margin: 75% 10%;
       padding-left: 0;
    
    }

}