

    <nav class="navbar navbar-expand-lg ">
        <!--Start of navigation section-->
    
          <div class="container-fluid sticky fixed-top " >
      
                <!--Start of logo -->
                <h1 class="navbar-brand" routerLink=""><img class ="logo" src="/assets/images/tutLogo.png"> </h1> 
                <img class="toggleMenu" src="/assets/images/icons8-menu.svg" width="60">
        
                <!--End of logo-->
          </div>
      
          <!--End of navigation section-->
    </nav>


    <body>
        <div class = "sideNav"> 
            
            <nav class="breadcrumbNav">
                <ul >
                    
                    <li class = "breadcrumb-item active" id = "breadcrumbpadding"><a class ="" href="#" id="hover">View Request</a></li>
                    <li class = "" id = "breadcrumbpadding"><a class ="" href="#" id="hover" routerLink="/adminviewprogress">View Progress</a></li>
    
    
                    
                </ul>
                
            </nav>
            
        </div>
        <div class = "contentContainerRight">
                <form class="backFrom">
                    <div *ngIf="message !=''"   class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                      
                   </div>
                    <div class = "contentForm">
                       
                        <h3 class = "toptitle">Admin Available Artisan</h3>
                        <div class="departmenCategoryText">
                            <h4>Campus: Soshanguve</h4>
                            <h5>Department:Electrical</h5>
                            <h6>Category:</h6>
                        </div>
                        
                        <div class = "Cards">
                            <div id = "card2">
                                <div class="card " *ngFor="let data of alldata">
                                    <table class="table table-hover" >
                                        <thead>
                                          <tr>
                                            <th scope="col">Artisan Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Tel Number</th>
                                            <th scope="col">Assign Artisan</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">Kamo Hlasa</th>
                                            <td>hlasaK@mail.ac.za</td>
                                            <td>0810539853</td>
                                            <td><button class="assignButton" (click)="assignArtisan()">Assign</button></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">dipono minose</th>
                                            <td>hlasaK@mail.ac.za</td>
                                            <td>0810539853</td>
                                            <td><button class="assignButton" (click)="assignArtisan()">Assign</button></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">dipono minos</th>
                                            <td >hlasaK@mail.ac.za</td>
                                            <td>0810539853</td>
                                            <td><button class="assignButton" (click)="assignArtisan()">Assign</button></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">{{data.name}}&nbsp;{{ data.surname}}</th>
                                            <td >{{data.tech_id}}</td>
                                            <td>0810539853</td>
                                            <td><button class="assignButton" (click)="assignArtisan()">Assign</button></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                           


                            <div id = "card">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card-titles">
                                            <h6 class="card-title">Ref:f14m56tg</h6>
                                            <h6 class="card-title" id = "date">RequestDate</h6>
                                        </div>
                                      
                                        <div class="imgStaffInfo">
                                            <img src="/assets/images/icon _profile.png" >
                                            <p class="card-text">Palesa Mahlangue<br>Mahlanguup@gmail.com</p>
                                            <a  href="#"><img class = "image" src="/assets/images/icon _send.png" ></a>
                                            <div class="assignTextDiv">
                                                <button class="assignTechText" (click)="assignArtisan()">Assign Technician</button>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                       
                    </div>
                </form>
            </div>
    
    
        
    </body>

    










