<app-staff-header></app-staff-header>

<div class="main_content">
    <div class="body" style="display: flex;">
        <header>
            <app-staff-sidenav></app-staff-sidenav>
        </header>
        <div class="tab-content m-2 " id="myTabContent">
            <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Track Requests
            </h1>
            <div id="content">
                <div class="bg-white shadow-lg bg-white rounded  left-content" style="display: flex; flex-direction: column;">
                    <h1><b>Click on the tabs to view progress of your request(s)</b></h1>
                    <label for="zero" id="red" class="todo" (click)="recieveAllRequest()">Todo/ Unassign Artisan
                        {{unAssign}}</label>
                    <label for="zero" id="blue" class="Assigned" (click)="assignTask()">Assigned
                        {{assigned}}</label>
                    <label for="fifty" id="orange" class="InProgress" (click)="getInprogress()">Working on It
                        {{inprogress}}</label>
                    <label for="zero" id="gray" class="OnHold" (click)="getOnHoldTasks()">OnHold {{hold}}</label>
                    <label for="hundred" id="green" class="Done" (click)="getCompleteTasks()">Done {{done}}</label>
                </div>

                <div class=" bg-white  shadow-lg bg-white rounded right-content" style="display: flex; flex-direction: column;">
                    <h1><b>REQUESTS</b></h1>
                    <div class="tracklist"> 
                        <div class="middleTableDivTextMargin" *ngFor="let request of allRequest">
                            <p>Category: {{request.category}}</p>
                            <p>Description: {{request.description}}</p>
                            <p>Request Date: {{request.req_date}}</p>
                            <p *ngIf="isPending == false">Expected to be fixed: {{request.expected_date}}</p>
                            <p>Venue: {{request.venue}}</p>
                            <button type="button" class="btn btn-secondary" *ngIf="numberDone > 0" 
                                (click)="feedback(request.id)">Feedback</button>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="d-flex justify-content-between">

    <app-staff-sidenav></app-staff-sidenav>
    <div class="contentContainerRight">
        <div class="backFrom">
            <h3 class="toptitle">Staff Track Request</h3>
        </div>
        <form>
            <div
                class="w-100% rounded-1border bg-white  shadow-lg bg-white rounded ">
                <h1><b>Click on the tabs to view progress of your request(s)</b></h1>
                <label for="zero" id="red" class="todo" (click)="recieveAllRequest()">Todo/ Unassign Artisan
                    {{unAssign}}</label>
                <label for="zero" id="blue" class="Assigned" (click)="assignTask()">Assigned
                    {{assigned}}</label>
                <label for="fifty" id="orange" class="InProgress" (click)="getInprogress()">Working on It
                    {{inprogress}}</label>
                <label for="zero" id="gray" class="OnHold" (click)="getOnHoldTasks()">OnHold {{hold}}</label>
                <label for="hundred" id="green" class="Done" (click)="getCompleteTasks()">Done {{done}}</label>
            </div>
        </form>
        <form>

            <div class="d-flexw-100 rounded-5border bg-white  shadow-lg bg-white rounded "
                style="width:100%">
                <h1><b>REQUESTS</b></h1>
                <div class="tracklist">
                    <div class="middleTableDivTextMargin" *ngFor="let request of allRequest">
                        <p>Category: {{request.category}}</p>
                        <p>Description: {{request.description}}</p>
                        <p>Request Date: {{request.req_date}}</p>
                        <p *ngIf="isPending == false">Expected to be fixed: {{request.expected_date}}</p>
                        <p>Venue: {{request.venue}}</p>
                        <button type="button" class="btn btn-secondary" *ngIf="numberDone > 0"
                            (click)="feedback(request.id)">Feedback</button>
                        <hr>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div> -->

<footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
</footer>