.stats{
    margin: 3.47%;
  }
  .backFrom h2{
    align-items: center;
   justify-content: center;
   font-weight: bold;
   text-align: center;
  }




  /* End of the navigation bar*/
  /* Start of  Everything on the side nav*/
  .sideNav {
    float: left;
   
    box-shadow: 5px 0 2px #969292;
    width: 335px;
    height: 1080px;
    
  }
  .breadcrumbNav {
    margin: 12% 10px;
    padding: 20px 30px;      
  }
  #breadcrumbpadding {
  
    width: 120px;  
    padding: 6px 0;
  }
  a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: capitalize;
    color: #2e2e2e;
    text-decoration: none;
  }
  .breadcrumbNav ul {
    list-style:none ;
    flex-direction: column;
  }
  #breadcrumb-item.active {
    border-bottom: 3px solid#4b4c4d;
    width: 115px;  
  }
  .breadcrumb-item.active {
    border-bottom: 3px solid#4b4c4d;
    width: 115px;  
  }
  #hover:hover {
    font-weight: 700px;
    color: rgb(6, 85, 42);
    font-size: large;
    
    
    
    margin-bottom: 24px;
    margin-left: 10px;
    
    cursor: pointer;
    
    
    
    
    }
  /* End of Everything on the side nav*/
  
  /*Disable the active link*/
  a:disabled, a[disabled] {
    color: #005596;
  }
  .anchorBorder{
    margin:0 20%;
  }
  /*Adding a hover effect on the sidenav links*/
  #hover:hover {
    font-weight: bold;
   
   
  }
  .container2{
    margin-top: 3.8%;
  }
  /*Div for the content on the right*/
  .tab-content {
      float: right;
      width: 80%;
      margin-right: auto;
    }

    #alignTitleCenter{
        margin: 0 auto;
    }
    
    .reqhead1{
     
      font-weight: bold;
    font-size: 28px;
    color: #000000;
  }
/*Footer*/






#b12{
  float: right;
}





#table {
    width: 90%;
    margin: auto auto;

  }

form {
    
    width: 600px;
    
    height: 500px;

    /*Note that the background form is not visible behind, nut it is there*/
}



.container {
    
    margin: 2% auto;
    width: 1050px;
    text-align: center;
   
}
.middleTable {

    border: 1px solid black ;
}
.middleTableDiv {
    
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 2px 6px black;
    border-radius: 10px;
    overflow-y: scroll;
    width: 850px;
    height: 500px;
    margin: auto 17.5%;
}
.middleTableDivTextMargin {
    margin: 1%;
}

label {
    display: inline-block;
    margin: 0 60px 8px;
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-weight:500;
   

}

.todo{
    background-color: #005596;  
}
.Assigned{

    background-color: #005596;
}
.InProgress{

    background-color: #005596;
}
.OnHold{

    background-color:  #005596;
}
.Done{

    background-color: #005596;
}


.todo:hover{
    color: red;
    background-color: white;

}
.Assigned:hover{
    color: #005596;
    background-color: white;

}
.InProgress:hover{
    color: orange;
    background-color: white;

}
.OnHold:hover{
    color: lightgrey;
    background-color: white;

}
.Done:hover{
    color: green;
    background-color: white;

}





