 
<app-staff-navbar></app-staff-navbar>

<!-- <body> -->
<div class="d-flex justify-content-between">
    
   
        <!-- side nav bar -->
    <div class="sideNav">
        <nav class="breadcrumbNav">
            <ul>
                <li class="breadcrumb-item active" id="breadcrumbpadding">
                    <a class="anchorBorder" id="hover"
                        routerLink="/staffpage">
                        <img src="../../assets/icons/request-for-proposal.png" height="35" width="35"/>
                        <b>REQUEST</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="breadcrumb-item active" id="breadcrumbpadding">
                    <a class="anchorBorder" id="hover"
                        disabled="true">
                        <img src="../../assets/icons/tracking.png" height="35" width="35"/>
                        <b>TRACKING</b>
                    </a>
                </li>
            </ul>

            

        </nav>
    </div>

        <!-- staff request  -->
    <div class="tab-content ps-2" id="myTabContent">
        <!-- <div class="backFrom" >
            <h2 class="toptitle">Staff Track Request</h2>
        </div> -->

        <!-- request stats --><div class="stats d-flex flex-wrap justify-content-between px-4">
        <form class="w-100 mb-4"> <!-- Adjust the width based on your preference -->
            <div class="rounded-1 p-4 border bg-white mt-4 shadow-lg row mx-0 justify-content-center">
                <h1><b>Click on the tabs to view progress of your request(s)</b></h1>
                <label for="zero" id="red" class="todo" (click)="recieveAllRequest(); navigateToTable()">Todo {{unAssign}}</label>
                <label for="zero" id="blue" class="Assigned" (click)="assignTask(); navigateToTable()">Assigned {{assigned}}</label>
                <label for="fifty" id="orange" class="InProgress" (click)="getInprogress(); navigateToTable()">InProgress {{inprogress}}</label>
                <label for="zero" id="gray" class="OnHold" (click)="getOnHoldTasks(); navigateToTable()">OnHold {{hold}}</label>
                <label for="hundred" id="green" class="Done" (click)="getCompleteTasks(); navigateToTable()">Done {{done}}</label>
            </div>
        </form>
        
        <form class="w-100"> <!-- Adjust the width based on your preference -->
            <h1><b>REQUESTS</b></h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Request Date</th>
                            <th scope="col" *ngIf="!isPending">Expected to be fixed</th>
                            <th scope="col">Venue</th>
                            <th scope="col" *ngIf="numberDone > 0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of allRequest">
                            <td>{{request.category}}</td>
                            <td>{{request.description}}</td>
                            <td>{{request.req_date}}</td>
                            <td *ngIf="!isPending">{{request.expected_date}}</td>
                            <td>{{request.venue}}</td>
                            <td>
                                <button type="button" class="btn btn-secondary" *ngIf="numberDone > 0" (click)="feedback(request.id)">Feedback</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
  
        
  </div>
        

</div>  

<!-- </body> -->
<app-footer></app-footer>