
  .departmenCategoryText {
    padding: 8.4px;
  }
  
  

  /*Start of Side navigation */
  .nav-tabs  {
    position: center;
    width: 100px;
    height: 80%;
    left: 2px;
    float: left;
    width: 100%;
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.035em;
    width: 280px;
    
    left: -2px;
    top: 110px;
    
    background: rgba(255, 255, 255, 0.8);
   
    }
    .nav-item{
      padding: 8px 24px;
      
      transition: 0.4s;
      font-family: 'georgia';
      margin-bottom: 24px;
      margin-left: 24px;
      font-weight: bold;
      cursor: pointer;
      background: white;
      border-left: 8px solid rgb(14, 60, 90);
    }
    
    .nav-item:hover {
      
      text-decoration: none;
      padding: 8px 0;
      
     
    }
    
    .nav-link.active {
      border: none;
    }

  
a {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: capitalize;
    color: #005596;
    text-decoration: none;
  }
  

  
a:disabled, a[disabled] {
    color: #005596;
  }
  
.anchorBorder{
  
    margin:0 20%;
  }
  
#hover:hover {
    font-weight: bold;
  }
.totaltasksTitle {
 
    margin-right: 25%;
    font-weight: 500;
    color: #005596;
  }
.progressTotalsDiv {
  margin: 80% auto;
  
}
.contentMargin,label{
  margin: 3.5px 0;
  text-align: center;
}
.numbertotal{
  background-color: white;
  border-radius: 8px;
  padding: 6px;
  color: black;
  
}
.In-progressTasks{
  background-color: orange;
  color: white;
  border-radius:8px;
  width: 140px;
  padding: 4px;
}
.In-progressTasks:hover{
  font-weight: 500;
}


.completedTasks{
  background-color: green;
  color: white;
  border-radius:8px;
  width: 140px;
  padding: 4px;
}
.completedTasks:hover{
  font-weight: 500;
}

/*End of Side navigation */
 /*logout button*/
.btn-success{
  color: white;
  border: 2px solid white;
  height: 40px;
  background-color: #005596;
}
.btn-success:active{
  border: white;
  background-color: #005596;
}   
/* .container2{
    
    margin-top: 3.8%;
   
  } */
  /* .container2{
  
    flex:1;
  } */
  .main {
    flex: 1;
    height: calc(100vh - 70px);
    width: 75%;
    padding: 40px 30px 30px 30px;
    padding-right: 25%;
  }
.tab-content {
      float: right;
      width: 80%;
      margin-left: 0%;
      margin-top: 1%;
      
    }
   
.progressBtns{
       
        border-bottom: none;
        padding-left: 40%;
    }
    
  
.colorAmber{
    background: orange;
    color: white;
    font-weight: bold;
   }
    
.colorRed{
    background: red;
    color: white;
    font-weight: bold;
   }

.table {
       
      width: 92%;
      margin: auto auto;
    }
.left{

      margin-right: 15%;
      margin-top: 0%;
    }
.content{
    border: 1px solid #ccc;
    overflow-y: scroll;
    height: auto; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 85%;
    margin: auto auto;
  }
    /*Footer*/
footer{
      background: black;
      padding: 8px;
      color: #eee;
      text-align: center;
      margin-left: 0%;
      margin-top: auto;
      width: 100%;
      height: 40px;
      /* position: absolute; */
      /* bottom: 0;
      width: 100%; */
    }

.printReportBtn {
  
        border-radius: 10px;
        width: 120px;
        margin:1% 0%;
        height:30px;
        background: #005596;
        color:white;
        border: 1px solid white;
    }
.printReportBtn:hover{
  border:1px solid black;
}
  
    @media print {
      .container-fluid{
        visibility: hidden;
      }
        body{
            visibility: hidden;
        }
    
        .navtab{
    
            visibility: hidden;
            /* position: absolute; 
            top: 10%;
            left: 20%; */
        }
        .contentToPrint {
    
            visibility: visible;
            position: absolute;
            top: 14%;
            left: 15%;
           
            
        }
        
        .printReportBtn{
            visibility: hidden;
        }
        .card {
            width: 60%;
        }
    }