<app-admin-header></app-admin-header>

<div class="main_content">
  <div class="body" style="display: flex;">
    <header>
      <app-admin-sidenav></app-admin-sidenav>
    </header>
    <div class="tab-content m-2 " id="myTabContent">
      <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Admin View Progress
      </h1>
      <div class="contentForm">

        <nav class="navtab">
          <div class="nav nav-tabs progressBtns" id="nav-tab" role="tablist">
            <button class="nav-link  active colorAmber" id="nav-in-progress-tab" data-bs-toggle="tab"
              data-bs-target="#nav-in-progress" type="button" role="tab" aria-controls="nav-in-progress"
              aria-selected="true">In-progress</button>
            <button class="nav-link  colorRed" id="nav-done-tab" data-bs-toggle="tab" data-bs-target="#nav-done"
              type="button" role="tab" aria-controls="nav-done" aria-selected="false">Done</button>

          </div>
        </nav>
        <!--Container of bothe tab tables -->
        <div class="tab-content" id="nav-tabContent ">
          <!--Start of In progress Task tab table content-->
          <div class="tab-pane fade show active" id="nav-in-progress" role="tabpanel"
            aria-labelledby="nav-in-progress-tab">
            <div class="left">

              <!-- <button class="printReportBtn" (click)="printer()" target="_blank">Print Report</button><br> -->
              <input class="search" type="text" name="searchButton" [(ngModel)]="searchButton"
                placeholder="search for tasks" style="margin-bottom: 1%; border-radius: 5px;">


              <table id="customers">
                <thead>
                  <tr>
                    <th>Log Reference</th>
                    <th>Staff Name</th>
                    <th>Technician Name</th>
                    <th>Description</th>
                    <th>Venue</th>
                    <th>Call logged</th>
                    <th>Expected Date</th>
                    <th>Priority</th>
                    <th>Days Left</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inprogress of inprogressTasks | filter:searchButton"
                    class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <td>{{inprogress.id}}</td>
                    <td>{{inprogress.staff_name}}</td>
                    <td>{{inprogress.tech_name}}</td>
                    <td>{{inprogress.description}}</td>
                    <td>{{inprogress.venue}}</td>
                    <td>{{inprogress.req_date}}</td>
                    <td>{{inprogress.expected_date}}</td>
                    <td>
                      <label *ngIf="inprogress.count_duration == 1">High</label>
                      <label *ngIf="inprogress.count_duration > 1 && inprogress.count_duration < 4">Medium</label>
                      <label *ngIf="inprogress.count_duration >= 4">Low</label>
                      {{inprogress.priority}}
                    </td>
                    <td>{{inprogress.count_duration}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!--End of In progress Task tab table content-->

          <!--Start of Completed Task tab table content-->
          <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
            <div class="left">

              <!-- <button class="printReportBtn" (click)="printer()" target="_blank">Print Report</button><br> -->
              <input class="search" type="text" name="searchButton" [(ngModel)]="searchButton"
                placeholder="search for tasks" style="margin-bottom: 1%; border-radius: 5px;">

              <table id="customers">
                <thead>
                  <tr>
                    <th>Log Reference</th>
                    <th>Staff name</th>
                    <th>Description</th>
                    <th>Log Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let completed of completedTasks | filter:searchButton "
                    class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <td>{{completed.id}}</td>
                    <td>{{completed.staff_name}}</td>
                    <td>{{completed.description}}</td>
                    <td>{{completed.Duration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
          <!--End of Completed Task tab table content-->

        </div>
      </div>
    </div>

  </div>
  <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
  </footer>
</div>