<div class="container-fluid">
    <!-- <body class="container"> -->
        <div class="log d-flex justify-content-end">
            <nav class="header">
                <div id="logoDiv">
                    <a>
                     
                        <img class="logo" src="../../../assets/images/tut.png" alt="SMART FARM"
                            style="float: left;height: 70px;width: 225px;" routerLink="read">
                    </a>
                </div>
                <div id="menu-icon">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li>
        
                        <a href="#" class="nav-link active" id="ModalExample" (click)="logout()"><button type="button"
                                class="btn btn-success">LOGOUT</button></a>
                    </li>
                </ul>
        
            </nav>
        </div>
  </div>
  <body>
  
    <div class="container2 d-flex justify-content-between ">
        <div class="sideNav">
            <nav class="breadcrumbNav">
                <ul>
                    
                        <li class = "" id = "breadcrumbpadding"><a class ="" id="hover"  routerLink="/adminpage" >View Requests</a></li>
                        <li class="breadcrumb-item active" id="breadcrumbpadding"><a class=""  disabled>View Progress</a></li>
                        <li class = "" id = "breadcrumbpadding"><a class ="" id="hover"  routerLink="" >Close Logs</a></li>
                        <!-- *ngIf= "statsData" statsData.totalUnassigned-->
                        <div class="progressTotalsDiv"  >
                          <div class="contentMargin">
                            <h3 class="totaltasksTitle"  >Total Tasks</h3>
                            <svg fill="#000000" height="40px" width="64px" version="1.1" id="XMLID_103_"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 24 24" xml:space="preserve">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="in-progress">
                                    <g>
                                        <path
                                            d="M23,24H1v-2h2.4c-1.6-5,1.6-7,3.7-8.4C8,13,8.9,12.5,8.9,12S8,10.9,7.1,10.4C5,9,1.8,7.1,3.4,2H1V0h22v2h-2.4 c1.6,5-1.6,7-3.7,8.4c-1,0.5-1.9,1.1-1.9,1.6s0.9,1.1,1.8,1.6c2.1,1.4,5.3,3.4,3.7,8.4H23V24z M5.6,22h12.8c1.6-4-0.5-5.3-2.6-6.7 C14.4,14.5,13,13.6,13,12c0-1.6,1.4-2.5,2.8-3.3C17.9,7.3,20,6,18.4,2H5.6C4,6,6.1,7.3,8.2,8.7C9.6,9.5,11,10.4,11,12 c0,1.6-1.4,2.5-2.8,3.3C6.1,16.7,4,18,5.6,22z">
                                        </path>
                                    </g>
                                    <g>
                                        <path
                                            d="M16.8,23H7c-0.3-1.5,0.2-2.4,2.3-4.3c0.8-0.7,1.8-1.5,2.7-2.8c1,1.2,2,2.1,2.7,2.8C16.8,20.7,17.3,21,16.8,23z">
                                        </path>
                                    </g>
                                    <g>
                                        <path
                                            d="M9.4,6c-0.7,1.3-0.7,1.3,0.9,2.1c0.5,0.2,1.1,0.5,1.6,0.9c0.5-0.4,1.2-0.7,1.6-0.9c1.7-0.8,1.7-0.8,1-2.1">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg> <label class="In-progressTasks"  *ngIf= "totalInprogress">In-progress &nbsp;&nbsp;<span class="numbertotal">{{totalInprogress.length}}</span></label><br>
                            <svg width="40px" height="64px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 21C16.9706 21 21 16.9706 21 12C21 10.1666 20.4518 8.46124 19.5103 7.03891L12.355 14.9893C11.6624 15.7589 10.4968 15.8726 9.66844 15.2513L6.4 12.8C5.95817 12.4686 5.86863 11.8418 6.2 11.4C6.53137 10.9582 7.15817 10.8686 7.6 11.2L10.8684 13.6513L18.214 5.48955C16.5986 3.94717 14.4099 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                        fill="#222222"></path>
                                </g>
                            </svg><label class="completedTasks" *ngIf= "totalCompleted">completed &nbsp;&nbsp;<span class="numbertotal">{{totalInprogress.length}}</span></label>
                          </div>
                      </div>
                </ul>
            </nav>
        </div>
  
        <div class="tab-content  ps-3 mt-5" id="myTabContent">
  
                <div class = "contentForm" >
                   
                    <div class="departmenCategoryText">
                        <h2></h2>
                        <h4></h4>
                        <h5></h5>
                    </div>
                    
                    <div class="content  mt-4 p-4">
  
                
                        <h1 class="d-flex justify-content-center" style="background-color: rgb(182, 179, 179);">Admin View Progress</h1>
  
                        <div class = "contentForm">
  
                                <nav class="navtab">
                                  <div class="nav nav-tabs progressBtns" id="nav-tab" role="tablist">
                                    <button class="nav-link  active colorAmber" id="nav-in-progress-tab" data-bs-toggle="tab" data-bs-target="#nav-in-progress" type="button" role="tab" aria-controls="nav-in-progress" aria-selected="true">In-progress</button>
                                    <button class="nav-link  colorRed" id="nav-done-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button" role="tab" aria-controls="nav-done" aria-selected="false">Done</button>
      
                                  </div>
                                </nav>
                                <!--Container of bothe tab tables -->
                                <div class="tab-content" id="nav-tabContent ">
                                  <!--Start of In progress Task tab table content-->
                                  <div class="tab-pane fade show active" id="nav-in-progress" role="tabpanel" aria-labelledby="nav-in-progress-tab">
                                    <div class="left">
                                      
                                      <button class="printReportBtn" (click)="printer()" target="_blank">Print Report</button>
                                      <div class="card  contentToPrint">
                                          
                                          <table class="table table-hover" id="">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Log Reference</th>
                                                  <th scope="col">Staff Name</th>
                                                  <th scope="col">Description</th>
                                                 
                                                  
                                                  
                                                </tr>
                                              </thead>
                                              <tbody >
                                                <tr *ngFor ="let inprogress of inprogressTasks ">
                                                  <th scope="row">{{inprogress.id}}</th>
                                                  <td>{{inprogress.staff_name}}</td>
                                                  <td>{{inprogress.description}}</td>
                                                  
                                                </tr>
                                                <tr>
                                                  <th scope="row">Dummy Ref</th>
                                                  <td>Dummy Staff Name</td>
                                                  <td>Dummy DecripWater is leaking</td>
                                                 
                                                </tr>
                                               
                                               
                                              </tbody>
                                            </table>
                                      </div>
                                    </div>
                                  </div>

                                  <!--End of In progress Task tab table content-->

                                  <!--Start of Completed Task tab table content-->
                                  <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
                                    <div class="left">
  
                                      <button class="printReportBtn" (click)="printer()" target="_blank">Print Report</button>
                                      <div class="card  contentToPrint">
                                          
                                          <table class="table table-hover" >
                                              <thead>
                                                <tr>
                                                  <th scope="col">Log Reference</th>
                                                  <th scope="col">Staff name</th>
                                                  <th scope="col">Description</th>
                                                  <th scope="col">LogDuration</th>

                                                  
                                                </tr>
                                              </thead>
                                              <tbody >
                                                <tr scope="row" *ngFor ="let completed of completedTasks">
                                                  <th >{{completed.id}}</th>
                                                  <td>{{completed.staff_name}}</td>
                                                  <td>{{completed.description}}</td>
                                                  <td>{{completed.Duration}}</td>
                                                </tr>
                                                <tr scope="row">
                                                  <th>Dummy Ref</th>
                                                  <td>Dummy Staff Name</td>
                                                  <td>Dummy Decrip Water is leaking</td>
                                              
                                                </tr>
                                               
                                               
                                              </tbody>
                                            </table>
                                      </div>
                                    </div>
      
      
                                  </div>
                                  <!--End of Completed Task tab table content-->
                                 
                              </div>
                        </div>
                                
                    </div>
    
        
                   
                </div>
         
           
           
  
  
  
        </div>
  
    </div>
    <footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
    </footer> 

  
  </body>
  
  
