/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}
/*desktop*/
@media screen and (max-width <= 992px){
    body {display: flex;
            flex-direction: column;
    }
       
   
}
/*tablets*/
@media screen and (max-width <= 1195px) {

    

 
}
/*phones*/
@media screen and (max-width <= 576px) {
    
}
