.tab-content {
  float: right;
  width: 80%;
  margin-right: 0%;
}
.nav-tabs {
background: rgba(155, 154, 154, 0.8);
border-right: 5px solid #0e0f52;
}




.reqhead1{
  
    border: 2px solid rgb(255, 255, 255);
    background-color: #ECE7E7; 
    font-weight: bold;




font-family: 'Sansation';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 36px;
letter-spacing: 0.15em;

color: #000000;
}

.reqhead2{
  
  border: 2px solid rgb(255, 255, 255);
  background-color: #ECE7E7; 
  font-weight: bold;




font-family: 'Sansation';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 36px;
letter-spacing: 0.15em;

color: #000000;
}



/*Footer*/

footer{
  background: black;
    padding: 8px;
    color: #eee;
   text-align: center;
    bottom: 0;
    width: 100%;
}



/*Navigation*/



#b12{
  float: right;
}




.sideNav {
float: left;
box-shadow: 5px 0 2px #575656;
width: 300px;
height: 850px;


}

.breadcrumbNav {
margin: 12% 10px;
padding: 20px 30px; 
top:0%;  
    
}
#breadcrumbpadding {

width: 115px;  
padding: 6px 0;
}

a {
font-size: 16px;
line-height: 20px;
color: #2e2e2e;
text-decoration: none;
}

.breadcrumbNav ul {

list-style:none ;
flex-direction: column;
}
.breadcrumb-item.active {


border-bottom: 3px solid #4b4c4d;
width: 115px;  

}

.anchorBorder{

  
margin:0 0%;
}

#hover:hover {
font-weight: 700px;
color: rgb(6, 85, 42);
font-size: large;



margin-bottom: 24px;
margin-left: 10px;

cursor: pointer;




}
















