<app-staff-header></app-staff-header>


<div class="d-flex justify-content-between">

    <app-staff-sidenav></app-staff-sidenav>

    <div class="tab-content ps-5" id="myTabContent">
        <div class="tab-pane fade show active" id="doing" role="tabpanel" aria-labelledby="doing-tab">

            <div>
                <form method="POST"
                    class="w-100 rounded-1 p-4 border bg-white  mt-4 mb-4 shadow-lg p-3 mb-5 bg-white rounded row mx-0 justify-content-center col-md-8 col-lg-11 px-lg-2 col-xl-8 px-xl-0 px-xxl-3"
                    enctype="multipart/form-data">
                    <div class="reqhead1">SEND REQUEST</div>
                    <div *ngIf="showSuccessMsg" class="alert alert-success" role="alert">
                        <strong>{{successmsg}}</strong>
                        <button id="b12" type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>

                    <div class="form-group">
                        <br>
                        <select (change)="buldingNoSelect($event)" class="form-control mb-2 mr-sm-2">
                            <option value="" selected disabled>Select Building Number</option>
                            <option *ngFor="let bld of bld_no" value="{{bld}}">{{bld}}</option>
                        </select>
                        <br>
                        <select (change)="getVunueSelected($event)" class="form-control mb-2 mr-sm-2">
                            <option value="" selected disabled>---Select Vanue---</option>
                            <option *ngFor="let vanue of selectedBuilding" value="{{vanue.v}}">{{vanue.v}}</option>
                        </select>
                    </div>

                    <label class="Cater" for="Cater">

                        <h4>Catergory</h4>

                        <select id="Cater" (change)="setCategory($event)" class="form-control mb-2 mr-sm-2">
                            <option value="#" selected disabled>Select Catergory</option>
                            <option *ngFor="let catList of categoryList"
                                value="{{[catList.id, catList.division_name]}}">{{catList.division_name}}</option>
                        </select>

                    </label>

                    <label class="Cater" for="Cater">

                        <h4>Catergory Issues</h4>

                        <select id="Cater" (change)="setCategoryItem($event)" class="form-control mb-2 mr-sm-2">
                            <option value="" selected disabled>Select Catergory Issue</option>
                            <option *ngFor="let cat of catergoryIssue" value="{{cat.item_name}}">{{cat.item_name}}
                            </option>
                        </select>

                    </label>
                    <div class="mb-3">
                        <button type="submit" (click)="clear()" (click)="request()"
                            class="btn btn-primary px-3 rounded-3">
                            Submit
                        </button>
                    </div>

                    <div class="d-block text-end">
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

<footer>&copy; 2023 Informatics Community Engagement Project . All Rights Reserved <p></p>
</footer>