<html>
  <footer class="FooterF"></footer>

  <h1 class="send">SEND REQUEST</h1>
  <h2>Staff Dashboard</h2>
  <button class="req " type="click">Request</button>
  <button class="track " type="click">Tracking</button>
  <button class="feed" type="click">Feedback</button>

<body>
  <div class="container" >
    <span class="border">
    <form >
      
   
    <div>
      <label>Category</label>
      <select class="cat" id="category" name="category" placeholder="Choose Category">
        <option value="soft">Software</option>
        <option id="hard">Hardware</option>
      </select>
    </div>
  <div>
  <label>Venue</label>
  <input class="venue" type="text" name="venue">
  </div>
  <div>
    <label>Description</label>
    <input class="des"type="text" name="des">
  </div>
  

  <label>Image</label>
  <input class="img" type="file" id="file" accept="image/*">
<div class="center"></div>
  <button class="btn" style="text-align: center" type="click" (click)="submitForm()">Send</button>
    </form>
  </span>
</div>
</body>
<footer class="Footer">


</footer>

</html>